KONG_PG_HOST=host.docker.internal
KONG_PG_USER=root
KONG_DATABASE=postgres
KONG_PG_PASSWORD=1234
KONG_PG_DATABASE=kong
KONG_DOCKER_TAG=kong:latest
KONG_USER=kong
KONG_PROXY_LISTEN=8000
KONG_ADMIN_LISTEN=8001
KONG_SSL_PROXY_LISTEN=8443
KONG_SSL_ADMIN_LISTEN=8444
KONG_PREFIX=/var/run/kong
# KONG_CERT_DIR=./certs
# CERT_FILE=./certs/cert.pem
# CERT_KEY_FILE=./certs/key.pem
KONGA_LISTEN=1337