x-kong-config: &kong-env
  KONG_DATABASE: ${KONG_DATABASE:-postgres}
  KONG_PG_DATABASE: ${KONG_PG_DATABASE:-kong}
  KONG_PG_HOST: ${KONG_PG_HOST:-your-external-db-host}
  KONG_PG_USER: ${KONG_PG_USER:-kong}
  KONG_PG_PASSWORD: ${KONG_PG_PASSWORD:-your-db-password}

volumes:
  kong_data: {}
  kong_prefix_vol:
    driver_opts:
      type: tmpfs
      device: tmpfs
  kong_tmp_vol:
    driver_opts:
      type: tmpfs
      device: tmpfs
  konga_data: {}
  keycloak-datastore: {}

networks:
  kong-net:
    driver: bridge

services:
  kong-migrations:
    container_name: kong-migrations
    image: "${KONG_DOCKER_TAG:-kong:latest}"
    command: kong migrations bootstrap
    environment:
      <<: *kong-env
    networks:
      - kong-net
    restart: on-failure:5

  kong-migrations-up:
    container_name: kong-migrations-up
    image: "${KONG_DOCKER_TAG:-kong:latest}"
    command: kong migrations up
    environment:
      <<: *kong-env
    networks:
      - kong-net
    restart: on-failure:5
    depends_on:
      - kong-migrations

  kong:
    container_name: kong
    image: "${KONG_DOCKER_TAG:-kong:latest}"
    user: "${KONG_USER:-kong}"
    environment:
      <<: *kong-env
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_PROXY_LISTEN: "0.0.0.0:${KONG_PROXY_LISTEN:-8000},0.0.0.0:${KONG_SSL_PROXY_LISTEN:-8443} ssl"
      KONG_ADMIN_LISTEN: "0.0.0.0:${KONG_ADMIN_LISTEN:-8001},0.0.0.0:${KONG_SSL_ADMIN_LISTEN:-8444} ssl"
      # KONG_ADMIN_GUI_LISTEN: "0.0.0.0:${KONG_ADMIN_GUI_LISTEN:-8002},0.0.0.0:${KONG_SSL_ADMIN_GUI_LISTEN:-8445} ssl"
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_PREFIX: ${KONG_PREFIX:-/var/run/kong}
      KONG_DECLARATIVE_CONFIG: "/opt/kong/kong.yaml"
      KONG_ADMIN_GUI_SSL_CERT: "${CERT_FILE:-}"
      KONG_ADMIN_GUI_SSL_CERT_KEY: "${CERT_KEY_FILE:-}"
      KONG_ADMIN_SSL_CERT: "${CERT_FILE:-}"
      KONG_ADMIN_SSL_CERT_KEY: "${CERT_KEY_FILE:-}"
    networks:
      - kong-net
    ports:
      - ${KONG_PROXY_LISTEN:-8000}:${KONG_PROXY_LISTEN:-8000}
      # - ${KONG_ADMIN_LISTEN:-8001}:${KONG_ADMIN_LISTEN:-8001}
      # - ${KONG_ADMIN_GUI_LISTEN:-8002}:${KONG_ADMIN_GUI_LISTEN:-8002}
      - ${KONG_SSL_PROXY_LISTEN:-8443}:${KONG_SSL_PROXY_LISTEN:-8443}
      # - ${KONG_SSL_ADMIN_LISTEN:-8444}:${KONG_SSL_ADMIN_LISTEN:-8444}
      # - ${KONG_SSL_ADMIN_GUI_LISTEN:-8445}:${KONG_SSL_ADMIN_GUI_LISTEN:-8445}
    healthcheck:
      test: [ "CMD", "kong", "health" ]
      interval: 10s
      timeout: 10s
      retries: 10
    restart: on-failure:5
    read_only: true
    volumes:
      - kong_prefix_vol:${KONG_PREFIX:-/var/run/kong}
      - kong_tmp_vol:/tmp
      - ./config:/opt/kong
      - ${KONG_CERT_DIR:-./certs}:/certs
    security_opt:
      - no-new-privileges
  konga:
    container_name: konga
    image: pantsel/konga
    environment:
      - NODE_ENV=development
    networks:
      - kong-net
    ports:
      - ${KONGA_LISTEN:-1337}:1337
    restart: on-failure
    volumes:
      - konga_data:/app/kongadata
    depends_on:
      - kong

  keycloak-db:
    container_name: keycloak-db
    image: postgres:14.15-alpine3.21
    volumes:
      - keycloak-datastore:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${KC_POSTGRES_DB}
      POSTGRES_USER: ${KC_POSTGRES_USER}
      POSTGRES_PASSWORD: ${KC_POSTGRES_PASSWORD}
    networks:
      - kong-net

  keycloak:
    image: keycloak/keycloak:latest
    command: start
    container_name: keycloak
    environment:
      KC_HOSTNAME: ${KC_HOSTNAME:-localhost}
      KC_HOSTNAME_PORT: ${KC_HTTP_PORT}
      KC_HTTPS_PORT: ${KC_HTTPS_PORT}
      KC_HOSTNAME_STRICT_BACKCHANNEL: false
      KC_HTTP_ENABLED: ${KC_HTTP_ENABLED}
      KC_HOSTNAME_STRICT_HTTPS: ${KC_HOSTNAME_STRICT_HTTPS}
      KC_HEALTH_ENABLED: true
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://${KC_DB_URL:-keycloak-db}/${KC_POSTGRES_DB}
      KC_DB_USERNAME: ${KC_POSTGRES_USER}
      KC_DB_PASSWORD: ${KC_POSTGRES_PASSWORD}
      KC_HTTPS_CERTIFICATE_FILE: ${KC_HTTPS_CERTIFICATE_FILE}
      KC_HTTPS_CERTIFICATE_KEY_FILE: ${KC_HTTPS_CERTIFICATE_KEY_FILE}
    ports:
      - ${KC_HTTPS_PORT}:${KC_HTTPS_PORT}
      - ${KC_HTTP_PORT}:${KC_HTTP_PORT}
    restart: always
    volumes:
      - ${KC_CERT_DIR:-./certs}:/certs
    depends_on:
      - kong
    networks:
      - kong-net
